@charset "utf-8";
/*============================================
背景画像
============================================*/
/* スクロールしない */
.fixed-background {
  /* 背景画像指定 */
  background-image: url(../img/sample-image.png);
  min-height: 50vh;
  min-width: 50vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.TurBo {
    /* 背景画像指定 */
    background-image: url(../img/sample-image.png);
  }


/* スクロール背景画像 */
  .background {
    background-color: rgb(255, 255, 255);
    color:#100167;
  }


/*============================================
見出し
============================================*/
/* TurBoロゴ */
img#TurBoLogo{
  width: 200px;
  }
div#logo{
    /* logoのセンタリング */
    text-align : center;
    color: white;
    padding: 2vh 2vh 0vh 2vh;
}

h1 {
    text-align: center;
    border-bottom: solid 1px ;
    padding: 8vh 2vw 8vh 2vw;
    margin: 0 20vw;
}

h2 {
    color: #ffe07b;
    margin: 10vh 20vw 6vh 20vw;
    text-align: center;
}
h3 {
  margin: 5vh 20vw 5vh 20vw;
  text-align: center;
}
p {
    font-size: 18px;
    margin: 4vh 20vw;
    text-align: center;
 }
a {
  text-decoration: none;
  color: white;
}
/* 
a div:hover{
  background-color: #ff6929;
} */

.center {


}
 /*============================================
全般
============================================*/
*{
  margin: 0; padding: 0; 	/*全要素のマージン・パディングをリセット*/   
}
body {
/* background-color: rgb(45, 32, 106);	ページ全体の背景色 */
font-size: 100%;			/* フォントサイズ */
font-family: 'Noto Sans JP', sans-serif; 	/* フォントの種類:google font */
line-height:1.5; 			/* 行の高さを1.5倍にする */
color:white; 
text-decoration: none;   
}

/* フッター */
div#footer {
  text-align: center; 
  padding: 2vh 0 2vh 0;
}



