@charset "utf-8";
/*============================================
背景
============================================*/
/* スクロールしない */
.fixed-background {
  background-attachment: scroll;
}

/*============================================
見出し
============================================*/

/* TurBoロゴ */
img#TurBoLogo{
  width: 30%;
  }
div#logo{
  padding: 10vh 0 0vh 0;
}

 /*============================================
全般
============================================*/
p {
  margin: 4vh 10vw;
}
/*フッター*/
div#footer {
  text-align: center;
  padding: 20vh 0 4vh 0;
}

/* サイドバーcss */
.sidebar {
  width: 50vw;
  left: -50%;
}

#humIcon {
  width: 100px;
  height: 100px;
}
span {
  width: 60px;
  height: 5px;
  left: 10px;
}
.bar1 {
  top: 12.5px;
}
.bar2 {
  top: 35px;
}  
.bar3 {
 top: 57.5px;
}