@charset "utf-8";
/*============================================
背景
============================================*/
/* スクロールしない */
.fixed-background {
  background-attachment: scroll;
  min-height: 100vh;
}

/*============================================
見出し
============================================*/

/* TurBoロゴ */
img#TurBoLogo{
  width: 180px;
  }
div#logo{
  padding: 5vh 0 0vh 0;
}

 /*============================================
全般
============================================*/
p {
  margin: 4vh 10vw;
}
/*フッター*/
div#footer {
  text-align: center;
  padding: 4vh 0 4vh 0;
}


/* ハンバーガーメニューCSS */
#humIcon {
  width: 100px;
  height: 100px;
  position: relative;
  box-sizing: border-box;
  position: fixed;
}
span {
  display: block;
  width: 50px;
  height: 2px;
  left: 20px;
  background: rgb(229, 229, 229);
  position: absolute;
  transition: all 0.5s ease;
}
.bar1 {
  top: 17.5px;
}
.bar2 {
  top: 35px;
}  
.bar3 {
 top: 52.5px;
}
/* jsによる.open属性の付与のスタイル */
/*上の線225℃回転*/
.bar1.open {
top: 35px;
transform: rotate(-225deg);
}
/*真ん中の線は透明化,回転*/
.bar2.open { 
  opacity: 0;
  transform: rotate(-225deg);
}
/*下の線-315℃回転*/
.bar3.open {
top: 35px;
transform: rotate(-315deg);
}