
/*============================================
見出し
============================================*/
/* TurBoロゴ */
img#TurBoLogo{
    width: 60%;
    }
  div#logo{
      padding: 40vh 0 50vh 0;
  }

  /*============================================
背景
============================================*/
/* スクロールしない */
.fixed-background {
    background-attachment: scroll;
  }