@charset "utf-8";

/*============================================
見出し
============================================*/
/* TurBoロゴ */
img#TurBoLogo{
  width: 250px;
  }
div#logo{
    /* logoのセンタリング */
    text-align : center;
    color: white;
    padding: 8vh 2vh 0vh 2vh;
}


h2 {
    font-size: 30px;
    color: #ffe07b;
    margin: 6vh 20vw 6vh 20vw;
    text-align: center;
}

a {
  text-align: center;
}


p {
    font-size: 20px;
    width: 200px;
    height: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
 }
.media {
  font-size: 25px;
  text-align: center;
  padding: 8px;
}

.Mail a:hover{
  color: #100167;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  -webkit-transition: .7s;
}

.YouTube a:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(255, 1, 0);
  border-radius: 5px;
  -webkit-transition: .7s;
}
.niconico a:hover{
  color: rgb(37, 37, 37);
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  -webkit-transition: .7s;
}

.Twitter a:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(30,155,239);
  border-radius: 5px;
  -webkit-transition: .7s;
}