@charset "utf-8";


.movietitle {
    margin-bottom: 2vw;
}

h2{
    font-size: 36px;
    margin: 0;
}
.furigana {
    font-size: 18px;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 0;
}

iframe {
    /* iframe中央寄せ */
    display: block;
    margin: 0 auto;

    aspect-ratio: 16/9;
}

.fixed-background {
    height: 100vh;
}

